*
!.gitignore
!README*.md
!LICENSE
!setup.py
!demo.py
!mixnmatchttp
!mixnmatchttp/**
!demos
!demos/**
!tests
!tests/**
tests/mixnmatchttp
tests/mixnmatchttp_local
demos/mixnmatchttp
.DS_Store
__pycache__
*.pyc
